<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet"  href="./login.css">
   
</head>
<body>
    <div class="login-form-interface">
    <div>
        <img id="Login-img" src="/drunkProject/public/img/Bordeaux-wines.jpg" alt="">
    </div>
    <form id="login-form" action="" onsubmit="">
        <h1 id="Login-title">Login Account</h1>
        <input type="text" name="TaiKhoan" class="input-form" id="TaiKhoan" placeholder="Email">
        <br>
        <input type="password" name="MatKhau" class="input-form" id="MatKhau" placeholder="">
        <br>
        <input type="button" value="Đăng Nhập" id="login">
        <br>
        <input type="checkbox" id ="saveLogin" value="yes" >Ghi nhớ đăng nhập
        <input type="button" value="Đăng Ký" id="resign">
    </form>
</div>
</body>
</html>