<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="../home/login.css" />
    <link rel="stylesheet" href="./ctdonhang.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="Home-container-header">
      <div id="Home-over-Header">
        <img src="" alt="" />
        <img id="Home-img" src="../../../img/logo.webp" alt="" />
        <form class="input__wrapper">
          <input
            type="text"
            class="search-input"
            placeholder="Tìm kiếm"
            required=""
          />
        </form>
        <div id="Home-cart">
          <a href="../cart/cart.html"
            ><img src="../../../img/cart.png" alt=""
          /></a>
        </div>

        <div id="Home-login">Login</div>
      </div>

      <div class="Home-Header-Container">
        <ul class="Home-navigation">
          <li class="Home-navigation-child">
            <a href="./home.html">HOME</a>
          </li>
          <li class="Home-navigation-child">
            <a href="./classify_product.html">RƯỢU VANG</a>
          </li>
          <li class="Home-navigation-child">
            <a href="./classify_product.html">RƯỢU MẠNH</a>
          </li>
          <li class="Home-navigation-child">
            <a href="./classify_product.html">HỘP QUÀ WISHKY</a>
          </li>
          <li class="Home-navigation-child">
            <a href="./classify_product.html">HỘP QUÀ WISHKY</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container container_profile containerPage">
      <div class="sidebar_sidebar__wrapper">
        <!-- <div class="sidebar_background__LJA4M"></div> -->
        <div class="sidebar_sidebar">
          <div class="avatar" style="margin-left: 60px">
            <img class=" " src="../../../img/avatar.png" alt="thumbnail" />
          </div>
          <div class="sidebar_divider"></div>
          <div class="sidebar_sidebar_item__wrapper">
            <a class="sidebar_sidebar__item" href="/ca-nhan/"
              ><img
                class=" "
                src="../../../img/ic_sidebar_person.png"
                data-src="/assets/icons/ic_sidebar_person.png"
                alt="icon"
              /><span>Thông tin cá nhân</span></a
            ><a class="sidebar_sidebar__item" href="/danh-sach-dia-chi/"
              ><img
                class=" "
                src="../../../img/ic_sidebar_document.png"
                data-src="/assets/icons/ic_sidebar_map-pin.png"
                alt="icon"
              /><span>Quản lý đơn hàng</span></a
            >
          </div>
          <div class="sidebar_divider"></div>
          <span class="sidebar_sidebar__item" style="cursor: pointer"
            ><img
              class=" "
              src="../../../img/door-out.png"
              data-src="/assets/icons/door-out.png"
              alt="icon"
            /><span>Đăng xuất</span></span
          >
        </div>
      </div>
      <div class="orderManagement_order_history">
        <p class="orderManagement_title">Quản lý đơn hàng</p>

        <div class="orderManagement_order_list">
          <div class="orderManagement_order__wrapper">
            <div class="orderManagement_title__wrapper">
              <p class="orderManagement_title">
                Mã đơn hàng: 123456
                <span>|</span>
                <span>Chờ xác nhận</span>
              </p>
            </div>
            <div class="orderManagement_divider__gQQR8"></div>
            <div class="orderManagement_item_list__wrapper">
              <div class="orderManagement_item__wrapper">
                <div class="orderManagement_item">
                  <img class=" " src="../img/ruouvang2.webp" alt="thumbnail" />
                  <div class="orderManagement_item_info__wrapper">
                    <div class="orderManagement_item_info">
                      <a href="#" class="orderManagement_name"
                        >Vang Femar Roma rosso DOC</a
                      ><span>750.000&nbsp;đ</span>
                    </div>
                    <span class="orderManagement_quantity">X1</span>
                  </div>
                </div>
              </div>
              <div class="orderManagement_item__wrapper">
                <div class="orderManagement_item">
                  <img class=" " src="../img/bia.webp" alt="thumbnail" />
                  <div class="orderManagement_item_info__wrapper">
                    <div class="orderManagement_item_info">
                      <a href="#" class="orderManagement_name"
                        >Rượu Jagermeister Selected 56 Botanicals (Rượu thảo mộc
                        đến từ Đức)</a
                      ><span>320.000&nbsp;đ</span>
                    </div>
                    <span class="orderManagement_quantity">X1</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderManagement_cancel">
              <div class="orderManagement_divider"></div>
              <p class="orderManagement_total">
                Tổng cộng: <span>1.070.000&nbsp;đ</span>
              </p>

              <button style="color: red">Hủy đơn hàng</button>
            </div>
          </div>
        </div>
        <div class="orderManagement_order_list">
          <div class="orderManagement_order__wrapper">
            <div class="orderManagement_title__wrapper">
              <p class="orderManagement_title">
                Mã đơn hàng: 123456
                <span>|</span>
                <span>Chờ xác nhận</span>
              </p>
            </div>
            <div class="orderManagement_divider__gQQR8"></div>
            <div class="orderManagement_item_list__wrapper">
              <div class="orderManagement_item__wrapper">
                <div class="orderManagement_item">
                  <img class=" " src="../img/ruouvang2.webp" alt="thumbnail" />
                  <div class="orderManagement_item_info__wrapper">
                    <div class="orderManagement_item_info">
                      <a href="#" class="orderManagement_name"
                        >Vang Femar Roma rosso DOC</a
                      ><span>750.000&nbsp;đ</span>
                    </div>
                    <span class="orderManagement_quantity">X1</span>
                  </div>
                </div>
              </div>
              <div class="orderManagement_item__wrapper">
                <div class="orderManagement_item">
                  <img class=" " src="../img/bia.webp" alt="thumbnail" />
                  <div class="orderManagement_item_info__wrapper">
                    <div class="orderManagement_item_info">
                      <a href="#" class="orderManagement_name"
                        >Rượu Jagermeister Selected 56 Botanicals (Rượu thảo mộc
                        đến từ Đức)</a
                      ><span>320.000&nbsp;đ</span>
                    </div>
                    <span class="orderManagement_quantity">X1</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderManagement_cancel">
              <div class="orderManagement_divider"></div>
              <p class="orderManagement_total">
                Tổng cộng: <span>1.070.000&nbsp;đ</span>
              </p>

              <button style="color: red">Hủy đơn hàng</button>
            </div>
          </div>
        </div>

        <div class="orderManagement_order_list">
          <div class="orderManagement_order__wrapper">
            <div class="orderManagement_title__wrapper">
              <p class="orderManagement_title">
                Mã đơn hàng: 123456
                <span>|</span>
                <span>Chờ xác nhận</span>
              </p>
            </div>
            <div class="orderManagement_divider__gQQR8"></div>
            <div class="orderManagement_item_list__wrapper">
              <div class="orderManagement_item__wrapper">
                <div class="orderManagement_item">
                  <img class=" " src="../img/ruouvang2.webp" alt="thumbnail" />
                  <div class="orderManagement_item_info__wrapper">
                    <div class="orderManagement_item_info">
                      <a href="#" class="orderManagement_name"
                        >Vang Femar Roma rosso DOC</a
                      ><span>750.000&nbsp;đ</span>
                    </div>
                    <span class="orderManagement_quantity">X1</span>
                  </div>
                </div>
              </div>
              <div class="orderManagement_item__wrapper">
                <div class="orderManagement_item">
                  <img class=" " src="../img/bia.webp" alt="thumbnail" />
                  <div class="orderManagement_item_info__wrapper">
                    <div class="orderManagement_item_info">
                      <a href="#" class="orderManagement_name"
                        >Rượu Jagermeister Selected 56 Botanicals (Rượu thảo mộc
                        đến từ Đức)</a
                      ><span>320.000&nbsp;đ</span>
                    </div>
                    <span class="orderManagement_quantity">X1</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="orderManagement_cancel">
              <div class="orderManagement_divider"></div>
              <p class="orderManagement_total">
                Tổng cộng: <span>1.070.000&nbsp;đ</span>
              </p>

              <button style="color: red">Hủy đơn hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="footer">
      <div class="contact-info">
        <div class="first-info">
          <img src="../../../img/design/logo_bobaus_real.png" alt="" />

          <div class="map">
            <i class="fa-solid fa-location-dot"></i>
            <span>An Dương Vương, Phường 3, Quận 5</span>
          </div>

          <div class="phone">
            <i class="fa-solid fa-phone-volume"></i>
            <span>0325459901</span>
          </div>
          <div class="mail">
            <i class="fa-solid fa-envelope"></i>
            <span>doanhdaigr5.2004@gmail.com</span>
          </div>
        </div>

        <div class="second-info">
          <h4>CHÍNH SÁCH</h4>
          <ul>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Chính sách giao hàng</a></li>
            <li><a href="#">Chính sách thẻ thành viên</a></li>
            <li><a href="#">Điều khoản sử dụng</a></li>
          </ul>
        </div>

        <div class="third-info">
          <h4>ABOUT US</h4>
          <ul>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Nhượng quyền</a></li>
            <li><a href="#">Tin tức</a></li>
          </ul>
        </div>

        <div class="fourth">
          <h4>FOLOW US</h4>
          <a href="https://www.facebook.com/doanhdai.2004"
            ><i id="fb" class="fa-brands fa-facebook" id="fb"></i
          ></a>
          <a href="https://www.instagram.com"
            ><i id="ig" class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://github.com/ltgiai/DO_AN_WEBSITE/tree/main"
            ><i id="git" class="fa-brands fa-github"></i
          ></a>
          <a href="https://twitter.com/?lang=vi"
            ><i id="tw" class="fa-brands fa-square-twitter"></i
          ></a>

          <a href="http://online.gov.vn/Home/WebDetails/36260"
            ><img src="../../../img/design/logo_bct.webp" alt=""
          /></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyrights © 2019 by comebuy_vn. All rights reserved.</p>
      </div>
    </section>
  </body>
</html>
