<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Admin.css">
</head>
<body>
    <div class="App">
        <div class="StaffLayout_wrapper__CegPk">
            <div class="StaffHeader_wrapper__IQw-U">
                <p class="StaffHeader_title__QxjW4">Dekanta</p>
                <button class="StaffHeader_signOut__i2pcu">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right-from-bracket" class="svg-inline--fa fa-arrow-right-from-bracket " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 2rem; height: 2rem; color: white;">
                        <path fill="currentColor" d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"></path>
                    </svg>
                </button>
            </div>
            <div>
                <div>
                    <div class="Admin_content__Qhl8d">
                        
                        <div class="Admin_rightBar__RXnS9">
                            <div style="display: flex; margin-bottom: 1rem; align-items: center;">
                                <p class="Admin_title__1Tk48">Tài Khoản</p>
                                <button style="margin-left: auto; font-family: Arial; font-size: 1.5rem; font-weight: 700; color: white; background-color: rgb(65, 64, 64); padding: 1rem; border-radius: 0.6rem; cursor: pointer;">Tạo Tài Khoản

                                </button>
                            </div>
                            <div class="Admin_boxFeature__ECXnm">
                                <div style="position: relative;">
                                   
                                    <input class="Admin_input__LtEE-" placeholder="Tìm kiếm tài khoản">
                                </div>
                                <select style="height: 3rem; padding: 0.3rem;">
                                    <option value="">Quyền Hạn : Tất Cả</option>
                                    <option value="Admin">Admin</option>
                                    <option value="CEO">CEO</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Seller">Seller</option>
                                    <option value="User">User</option>
                                </select>
                            </div>
                            <div class="Admin_boxTable__hLXRJ">
                                <table class="Table_table__BWPy">
                                    <thead class="Table_head__FTUog">
                                        <tr>
                                            <th class="Table_th__hCkcg">Mã</th>
                                            <th class="Table_th__hCkcg">Họ tên</th>
                                            <th class="Table_th__hCkcg">Ngày sinh</th>
                                            <th class="Table_th__hCkcg">Địa chỉ</th>
                                            <th class="Table_th__hCkcg">Giới tính</th>
                                            <th class="Table_th__hCkcg">Số diện thoại</th>
                                            <th class="Table_th__hCkcg">Email</th>
                                            <th class="Table_th__hCkcg">Vai trò</th>
                                            <th class="Table_th__hCkcg">Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="9" style="text-align: center; font-weight: 700; padding: 1rem;">Không tìm thấy bất kì tài khoản nào</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>