<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="changePassword.css" rel="stylesheet">
    <link href="infomation.css" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <div id="myInfo">
    <div id="info-navigation" >
        <div class="info-logo-title">
        <img src="../font/user.png" alt="" id="info-user-img">
        <p id="info-user-name" class="info-navigation-link">Ten user</p>
        </div> 
        <div class="line"></div>
        <div class="info-navigation-link-dad">
            <div class="info-links">
                <img src="" alt="">
                <a href="infomation.html" class="info-navigation-link">Thông tin cá nhân</a>
            </div>
            <div class="info-links">
                <img src="" alt="">
                <a href="" class="info-navigation-link">Đổi mật khẩu</a>
            </div>
            <div class="info-links">
                <img src="" alt="">
                <a href="info.html" class="info-navigation-link">Cập nhật thông tin</a>
            </div>
            <div class="info-links">
                <img src="" alt="">
                <a href="" class="info-navigation-link">Quản lý đơn hàng</a>
            </div>
            <div class="line"></div>
        </div>
        <p id="Info-logout" class="info-navigation-link">Đăng xuất</p>
        
    </div>
    <div id="infomation-group-changePassword">
        <div class="Infomation-changePassword">
            <form id="Infomation-changePassword-form">
                <h2 class="infomation-text">Đổi mật khẩu</h2>
                <div class="line"></div>
                <label for="oldPassword" class="changePassword-label infomation-text">Mật Khẩu Cũ:</label><br>
                <input type="password" class="changePassword-input-value" id="oldPassword" name="oldPassword" required><br>
                <label for="newPassword" class="changePassword-label infomation-text">Mật Khẩu Mới:</label><br>
                <input type="password" class="changePassword-input-value" id="newPassword" name="newPassword" required><br>
                <label for="confirmPassword" class="changePassword-label infomation-text">Xác Nhận Mật Khẩu:</label><br>
                <input type="password" class="changePassword-input-value" id="confirmPassword" name="confirmPassword" required><br>
                <input type="submit" id="changePassword-confirm" value="Xác Nhận">
            </form>  
        </div>
    </div>
</div>
</body>
</html>