.Infomation-changePassword{
    border: 1px solid #d5d5d5;
  
    background-color: #ffff;
}

#Infomation-changePassword-form{
    margin:10px 10px;
}
.changePassword-input-value{
    width: 40%;
    height: 30px;
    margin: 5px 2%;
    border: 1px solid;
    
}
#changePassword-confirm{
    background-color: rgb(125, 18, 18);
    color:white;
    border:1px solid rgb(125, 18, 18);
    padding :5px 10px;
    margin-top:30px;
    margin-left:2%;
}
.changePassword-label{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#infomation-group-changePassword{
    width: 70%;
}
.infomation-text{
    margin: 5px 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}